/*
font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
*/

.container{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* All Topics, left side of home page */

#allTopics{
	padding-bottom: 100px;
}

.centerTopics{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding-right: 15px;
}

.topic{
	width: 40%;
	height: 40px;
	background-color: white;
	text-align: center;
	color: #838383;
	font-size: 20px;
	border: 2px solid #838383;
	transition: 0.3s;
	transition-timing-function: ease;
	padding: 1em;
	margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
	flex-grow: 1;
}

.topic:hover{
	color: white;
	background-color: #D0011B;
	transition: 0.4s;
	transition-timing-function: ease;
	-webkit-transform: scale(0.99, 0.99);
	-ms-transform: scale(0.99, 0.99);
	transform: scale(0.99, 0.99);
}

.amount{
	font-size: 15px;
}