/*
font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
*/

header{
	font-family: 'Orbitron', sans-serif;
	height: 15%;
	font-size: 40px;
	text-align: center;
	color: #D0011B;
	margin-bottom: 0px;
	margin-top: 40px;
}

#home{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	width: 190px;
	height: 30px;
	background-color: #838383;
	color: white;
	border-radius: 5px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: 3%;
	position: relative;
	bottom: 35px;
	transition: 0.3s;
	transition-timing-function: ease-in;
}

#home:hover{
	background-color: #EDEDED;
	color: #838383;
	transition: 0.3s;
	transition-timing-function: ease-out;
}

#home a{
	color: white;
	transition: 0.3s;
	text-decoration: none;
}

#home a:hover{
	color: #838383;
	transition: 0.3s;
	text-decoration: none;
}

body{
  font-family: 'Raleway', sans-serif;
}

.container{
	display: flex;
}

/*All Topics, left side of home page*/

#allTopics{
	border: 2px solid #D0011B;
	width: 69%;
	padding-bottom: 100px;
	margin-bottom: 60px; 
	background-color: #EDEDED;
}

#allTopics h1{
  text-align: center;
  font-size: 25px;
  color: #D0011B;
  margin-bottom: 50px;
  width: 100%;
  display: inline-block;
}

.centerTopics{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	padding-right: 15px;
}

.topic{
	width: 40%;
	height: 40px;
	background-color: white;
	text-align: center;
	color: #838383;
	font-size: 20px;
	border: 2px solid #838383;
	transition: 0.3s;
	transition-timing-function: ease;
	padding: 1em;
	margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
	flex-grow: 1;
}

.topic:hover{
	color: white;`
	background-color: #D0011B;
	transition: 0.3s;
	transition-timing-function: ease;
}

.amount{
	font-size: 15px;
}

/*Popular Topics, right side of screen*/

#popularTopics{
	border: 2px solid #D0011B;
	border-left: 0;
	width: 30%;
	display: inline-block;
	margin-bottom: 60px;
}

#popularTopics h1{
	font-size: 25px;
	color: white;
	background-color: #838383;
	height: 50px;
	margin-top: 0;
	padding-top: 17px;
	text-align: center;
}

#popularTopics{
	text-align: center;
}

#popularTopics h4 a{
	color: #D0011B;
	transition: 0.3s;
	text-decoration: none;
}

#popularTopics h4 a:hover{
	color: #838383;
	transform: scale(0.95, 0.95);
	transition: 0.3s;
	transition-timing-function: ease;
	text-decoration: none;
}

.sideTopic{
	font-size: 20px;
	text-align: center;
	color: #838383;
	height: 70px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	transition-timing-function: ease-out;
}

.sideTopic:hover{
  background-color: #D0011B;
  color: white;
  transition: 0.4s;
  transition-timing-function: ease-out;
}

.arrowLeft{
  width: 15%;
  margin-left: 5%;
}

.arrowLeft img{
	width: 20px;
	height: 24px;
}

.topicRight{
  text-align: left;
  width: 60%;
  margin-bottom: 10px;
}