/*
font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
*/

.container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

/* Most Recent, left side of home page */

#mostRecent{
	display: inline-block;
}

#mostRecent h4{
	display: none;
}

.topic{
	border: 2px solid #838383;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	/*padding-left: 60px;
	padding-top: 20px;
  	height: 140px;*/
  	height: 145px;
	width: 90%;
	background-color: white;
	font-size: 13px;
	color: #8D8D8D;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	transition: 0.2s;
	flex-basis: auto;
	position: relative; /* this needs to be on parent to prevent commentBox from going outside div */
}

.topic:hover{
	-webkit-transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);
	transition: 0.2s;
	transition-timing-function: ease;
}

.allInfo{
	height: 100%;
	width: 85%;
	margin-right: auto;
	display: inline-block;
}

.description{
  margin-left: 60px;
  margin-top: 20px;
  width: 77%;
  height: 90px;
  display: block;
  overflow-y: auto;
}

.titleBigger{
	font-size: 17px;
	color: #838383;
}

.bottomInfo{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	width: 77%;
	height: 20px;
  margin-top: 10px;
	margin-left: 60px;
}

.date{
	display: block;
	/*margin-top: 37px;
	margin-left: 60px;*/
	width: 110px;
}

.comments{
	display: block;
	width: 110px;
	margin-left: auto;
	cursor: pointer;
	transition: 0.1s;
}

.comments:hover{
  color: #D0011B;
  transition: 0.1s;
}


.votes{
  width: 90px;
  margin-top: 55px;
  margin-right: 10px;
  margin-left: auto;
  display: inline-block;
  height: 100px;
}

.upArrow, .downArrow{
  width: 35px;
  display: inline-block;
  transition: 0.2s;
}

.upArrow:hover, .downArrow:hover{
	-webkit-transform: scale(0.93, 0.93);
	-ms-transform: scale(0.93, 0.93);
	transform: scale(0.93, 0.93);
	transition: 0.2s;
	transition-timing-function: ease;
}

.commentBox{
  display: none;
  width: 97%;
  height: 210px;
  position: absolute;
  bottom: 30px;
  left: 1.5%;
}

.addComment{
	width: 100%;
	height: 40px;
	font-size: 13px;
	padding-left: 30px;
	padding-top: 10px;
	border: 2px solid #C4C4C4;
	box-sizing: border-box;
  	background-color: white;
	color: #838383;
/*	position: absolute;
	bottom: 10px;
	left: 1.5%;*/
	resize: none;
	outline: none; /*gets rid of blue outline*/
}

.addComment:focus{
	background-color: #F2F2F2;
	border-color: #A0A0A0;
}

/*Comment Section*/
.parentCom{
	margin-top: -15px;

}

.userCom{
  margin-left: 12px;
  border: 2px solid;
  padding-left: 30px;
  width: 97%;
  height: 60px;
  margin-bottom: 5px;
  box-sizing: border-box;
}


/*When click .open add class to open?*/
.commentSect {
	opacity: 0;
}

.commentSect {
	transition: opacity 5s ease-in;	
	opacity: 1;
}


/*Popular Topics, right side of screen*/

#popularTopics{
  text-align: center;
}

#popularTopics h4 a{
	color: #D0011B;
	transition: 0.3s;
  text-decoration: none;
}

#popularTopics h4 a:hover{
	color: #838383;
	font-size: 15.5px;
	transition: 0.3s;
	transition-timing-function: ease;
  text-decoration: none;
}