/*
font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
*/

header{
	font-family: 'Orbitron', sans-serif;
	font-size: 40px;
	height: 15%;
	margin-top: 40px;
	margin-bottom: 0px;
	text-align: center;
	color: #D0011B;
}

/*say Something*/

#saySomething{
	font-family: 'Raleway', sans-serif;
	width: 190px;
	height: 30px;
	border-radius: 5px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: 3%;
	position: relative;
	bottom: 35px;
	text-align: center;
	color: white;
	background-color: #838383;
	transition: 0.3s;
	transition-timing-function: ease-in;
}

#saySomething:hover{
	color: #838383;
	background-color: #EDEDED;
	transition: 0.3s;
	transition-timing-function: ease-out;
}

#saySomething a{
	color: white;
	text-decoration: none;
	transition: 0.3s;	
}

#saySomething a:hover{
	color: #838383;
	text-decoration: none;
	transition: 0.3s;
}

/*most Recent*/
/*Most Recent, left side of home page*/

body{
	font-family: 'Raleway', sans-serif;
}

.container{
	display: flex;
}



#mostRecent{
	width: 69%;
	border: 2px solid #D0011B;
	display: inline-block;
	background-color: #EDEDED;
}

#mostRecent h1{
	font-size: 25px;
	width: 100%;
	margin-bottom: 50px;
	display: inline-block;
	text-align: center;
	color: #D0011B;
	
}

/*sort*/
/*sort, top left side of home/single topic page*/

.sort{
	font-size: 25px;
	width: 140px;
	height: 40px;
	padding-top: 10px;
	position: absolute;
	text-align: center;
	color: white;
	background-color: #D0011B;
	transition: 0.2s;
}

.sort:hover{
	padding-bottom: 3px;
	transition: 0.3s;
	transition-timing-function: ease;
}

#sortOverlay{
  
}

.topic{
	font-size: 13px;
	width: 90%;
	height: 140px;
	border: 2px solid #838383;
	/*padding-left: 60px;
	padding-top: 20px;*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: flex;
	flex-flow: row nowrap;
	color: #8D8D8D;
	background-color: white;
	transition: 0.2s;
}

.topic:hover{
	transform: scale(1.03, 1.03);
	transition: 0.2s;
	transition-timing-function: ease;
}

.allInfo{
	width: 85%;
	height: 100%;
	margin-right: auto;
	display: inline-block;
}

/*assest Within Single Topic*/

.description{
	width: 77%;
	height: 60px;
	margin-left: 60px;
	margin-top: 20px;
	display: block;
}

.titleBigger{
	font-size: 17px;
	color: #838383;
}

.date{
	margin-top: 37px;
	margin-left: 60px;
	margin-right: 40%;
	display: inline-block;
}

.comments{
	display: inline-block;
}

.votes{
	width: 90px;
	margin-top: 55px;
	margin-right: 10px;
	margin-left: auto;
	display: inline-block;
}

.upArrow{
	width: 35px;
	display: inline-block;
}

.downArrow{
	width: 35px;
	display: inline-block;
	transform: rotateX(180deg);
}

/*popular Topics*/
/*Popular Topics, right side of screen*/

#popularTopics{
	width: 30%;
	border: 2px solid #D0011B;
	border-left: 0;
	display: inline-block;
}

#popularTopics h1{
	font-size: 25px;
	height: 50px;
	padding-top: 17px;
	margin-top: 0;
	text-align: center;
	color: white;
	background-color: #838383;	
}

#popularTopics h4{
	text-align: center;
	color: #D0011B;
	transition: 0.3s;
}

#popularTopics h4:hover{
	color: black;
	transform: scale(0.95, 0.95);
	transition: 0.3s;
	transition-timing-function: ease;
}

/*side Topic*/

.sideTopic{
	font-size: 20px;
	height: 70px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #838383;
	transition: 0.3s;
	transition-timing-function: ease-out;
}

.sideTopic:hover{
	color: white;
	background-color: #D0011B;
	transition: 0.4s;
	transition-timing-function: ease-out;
}

/*arrow Left*/

.arrowLeft{
	width: 15%;
	margin-left: 5%;
}

.arrowLeft img{
	width: 20px;
	height: 24px;
}

.topicRight{
	width: 60%;
	margin-bottom: 10px;
	text-align: left;
}	