/*
font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
*/

.container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

/* Most Recent, left side of home page */

#mostRecent{
	display: inline-block;
}

#mostRecent h4{
	display: none;
}

.topic{
	border: 2px solid #838383;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	/*padding-left: 60px;
	padding-top: 20px;*/
/*	height: 140px;
*/	width: 90%;
	background-color: white;
	font-size: 13px;
	color: #8D8D8D;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	transition: 0.2s;
}

.topic:hover{
	-webkit-transform: scale(1.03, 1.03);
	-ms-transform: scale(1.03, 1.03);
	transform: scale(1.03, 1.03);
	transition: 0.2s;
	transition-timing-function: ease;
}

.allInfo{
	height: 100%;
	width: 85%;
	margin-right: auto;
	display: inline-block;
}

.description{
  margin-left: 60px;
  margin-top: 20px;
  width: 77%;
  height: 90px;
  display: block;
  overflow-y: auto;
}

.titleBigger{
	font-size: 17px;
	color: #838383;
}

.bottomInfo{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	width: 77%;
	height: 20px;
  margin-top: 10px;
	margin-left: 60px;
}

.date{
	display: block;
	/*margin-top: 37px;
	margin-left: 60px;*/
	width: 110px;
}

.comments{
	display: block;
	width: 110px;
	margin-left: auto;
}

.votes{
  width: 90px;
  margin-top: 55px;
  margin-right: 10px;
  margin-left: auto;
  display: inline-block;
}

.upArrow{
  width: 35px;
  display: inline-block;
}

.downArrow{
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  width: 35px;
  display: inline-block;
}

/*Popular Topics, right side of screen*/

#popularTopics{
  text-align: center;
}

#popularTopics h4 a{
	color: #D0011B;
	transition: 0.3s;
  text-decoration: none;
}

#popularTopics h4 a:hover{
	color: #838383;
	font-size: 15.5px;
	transition: 0.3s;
	transition-timing-function: ease;
  text-decoration: none;
}