/*
font-family: 'Orbitron', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
*/

.container{
	font-family: 'Raleway', sans-serif;
	background-color: #EDEDED;
	color: #838383;
	border: 2px solid #D0011B;
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 250px;
}

.form{
	width: 410px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#boxOne{
	font-family: 'Raleway', sans-serif;
	width: 400px;
	height: 40px;
  border: 2px solid #838383;
  color: #838383;
  font-size: 12px;
  resize: none;
}

.dropdown{
	width: 400px;
	height: 40px;
	border: 2px solid #838383;
	overflow: hidden;
	background: url('../images/dropdown-arrow.png') no-repeat right white;
	background-size: 29px 15px;
	background-position: 350px 13px;
}

.dropdown select{
	background: transparent;
	width: 420px;
	height: 40px;
  color: #838383;
  border: 0;
  font-size: 12px;
}

.dropdown select option{
  color: #838383;
}

#boxTwo{
	font-family: 'Raleway', sans-serif;
	width: 400px;
	height: 130px;
	border: 2px solid #838383;
	resize: none;
	color: #838383;
}

#submit{
	background-color: red;
	border: #D0011B;
	border-radius: 5px;
	height: 40px;
	width: 220px;
	font-size: 15px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transition: 0.3s;
}

#submit:hover{
	background-color: #A60015;
	transition: 0.3s;
	border-radius: 10px;
}

/* 420px width is for Nexus 5X/6P and iPhone 6 Plus screens */
@media only screen and (max-width: 420px){
	.container{
		width: 100%;
		font-size: 17px;
		padding-bottom: 40px;
  }

  .form{
		width: 340px;
  }

	#boxOne{
		width: 330px;
	  font-size: 12px;
	}

	.dropdown{
		width: 330px;
		font-size: 12px;
	}

	.dropdown select{
		width: 350px;
	  font-size: 12px;
	}

	#boxTwo{
		width: 330px;
		font-size: 12px;
	}

	#submit{
		width: 230px;
		font-size: 12px;
		margin-top: 10px;
	}
}

/* 360px width is for S5 and iPhone 6 screens */
@media only screen and (max-width: 375px){
	.container{
		width: 100%;
		font-size: 15px;
		padding-bottom: 40px;
  }

  .form{
		width: 300px;
  }

	#boxOne{
		width: 290px;
	  font-size: 12px;
	}

	.dropdown{
		width: 290px;
		font-size: 12px;
	}

	.dropdown select{
		width: 310px;
	  font-size: 12px;
	}

	#boxTwo{
		width: 290px;
		font-size: 12px;
	}

	#submit{
		width: 190px;
		font-size: 12px;
		margin-top: 10px;
	}
}

/* 320px width is for iPhone 5 screen sizes */
@media only screen and (max-width: 320px){
	.container{
		width: 100%;
		font-size: 13.5px;
		padding-bottom: 40px;
  }

  .form{
		width: 270px;
  }

	#boxOne{
		width: 260px;
	  font-size: 11px;
	}

	.dropdown{
		width: 260px;
		font-size: 11px;
	}

	.dropdown select{
		width: 380px;
	  font-size: 11px;
	}

	#boxTwo{
		width: 260px;
		font-size: 11px;
	}

	#submit{
		width: 160px;
		font-size: 12px;
		margin-top: 10px;
	}
}